{% extends 'base.html.twig' %}

{% block title %}
	Demande enregistrée
{% endblock %}

{% block body %}
	<div class="base-container">
    <div class="succes-message">Nous avons envoyé un email pour modifier votre mot de passe sur votre adresse email.</div>
  </div>
{% endblock %}
