{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block bodyClass %}password-update{% endblock %}

{% block body %}
	<div class="base-container text-center">
    <h1 class="title-1">Modifier le mot de passe</h1>
  </div>

  <div class="form-container">
    <div class="form-subcontainer">
      {{ form_start(updateForm) }}
      {{ form_widget(updateForm) }}

      <button type="submit" class="btn">Modifier mon mot de passe</button>
      {{ form_end(updateForm) }}
    </div>
  </div>
{% endblock %}
