{% extends 'base.html.twig' %}

{% block title %}Récupérer le mot de passe{% endblock %}

{% block bodyClass %}password-recovery{% endblock %}

{% block body %}
	<div class="base-container text-center">
    <h1 class="title-1">Récupérer le mot de passe</h1>
  </div>

  <div class="form-container">
    <div class="form-subcontainer">
      {{ form_start(recoveryForm) }}
      {{ form_widget(recoveryForm) }}

      <button type="submit" class="btn">Récupérer mon mot de passe</button>
      {{ form_end(recoveryForm) }}
      <a class="primary" href="{{ path('login') }}">Vous connaissez votre mot de passe ?</a>
    </div>
  </div>
{% endblock %}
