{% extends 'base.html.twig' %}

{% block title %}
	Demande enregistrée
{% endblock %}

{% block body %}
	<div class="base-container">
    <div class="succes-message">Nous avons envoyé un email de récupération de mot de passe à votre adresse.</div>
  </div>
{% endblock %}
