{% extends 'base.html.twig' %}



{% block title %}
	Snowtricks
{% endblock %}


{% block body %}
	<div>
		<h2>Liste des liens du site : </h2>
    <a href ="/trick/all">Liste des tricks</a>
    <a href ="/trick/creationpage">Ajouter un trick</a>
	</div>
{% endblock %}
