{% extends 'base.html.twig' %}

{% block title %}
	Inscription validée
{% endblock %}

{% block body %}
	<div class="base-container">
    <div class="succes-message">Votre inscription a bien été validée. Vous allez recevoir un email d'activation.</div>
  </div>
{% endblock %}
