*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-size: 16px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.title-1 {
  font-size: 40px;
}

.title-2 {
  font-size: 30px;
}

.title-3 {
  font-size: 25px;
}

.subtitle-1 {
  font-size: 20px;
  font-weight: 500;
}

button {
  padding: 7px 30px;
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  width: fit-content;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-weight: 700;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

a.primary {
  color: black;
  font-weight: 500;
}

a.secondary {
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: border-bottom 0.3s ease-in-out;
  position: relative;
}
a.secondary::before {
  content: "";
  display: block;
  background-color: black;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
a.secondary:hover::before {
  opacity: 1;
}

.succes-message {
  background-color: rgb(30, 139, 30);
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 15px 15px 15px 0;
}

.error-message {
  background-color: rgb(204, 10, 10);
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 15px 15px 15px 0;
}

.info-message {
  background-color: grey;
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 15px 15px 15px 0;
}

.input-container {
  position: relative;
}
.input-container .label-text {
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: text;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transform-origin: left;
  font-weight: 500;
}
.input-container .input-text {
  padding: 20px 30px;
  border-radius: 50px;
  border: 2px solid black;
  width: 500px;
  max-width: 100%;
}
.input-container .input-text:focus + .label-text {
  transform: translateY(-15px) scale(80%);
  color: grey;
}

.tag {
  background-color: rgb(204, 10, 10);
  color: white;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}
header .header-container {
  position: relative;
  height: 60px;
  background-color: #075789;
  padding: 10px 20px;
}
header .header-container .burger-btn {
  position: absolute;
  width: 35px;
  display: flex;
  height: 26px;
  flex-direction: column;
  justify-content: space-between;
  right: 15px;
  top: 15px;
}
header .header-container .burger-btn span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
header .header-container .burger-btn span.is-active:nth-child(1) {
  transform: translateY(11px) rotate(225deg);
}
header .header-container .burger-btn span.is-active:nth-child(2) {
  transform: scale(0);
}
header .header-container .burger-btn span.is-active:nth-child(3) {
  transform: translateY(-11px) rotate(-225deg);
}
header .header-container nav {
  display: none;
  transition: opacity 0.3s ease-in-out;
}
header .header-container nav a {
  padding: 10px 0;
  color: white;
}
header .header-container nav a::before {
  background-color: white;
}
header .header-container nav.is-active {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 60px;
  background-color: #075789;
  animation: display 0.3s ease-in-out;
  left: 0;
}
header .overlay {
  display: none;
}
header .overlay.is-active {
  display: block;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  width: 100%;
  height: 100vh;
  animation: display 0.3s ease-in-out;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 769px) {
  header {
    padding: 30px;
    background-color: #075789;
    color: white;
  }
  header .header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  header .header-container .burger-btn {
    display: none;
  }
  header .header-container nav {
    display: flex;
    align-items: center;
  }
  header .header-container nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.styleguide-container {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.styleguide-container .styleguide-title {
  font-size: 40px;
  border-left: 5px solid grey;
  padding-left: 5px;
  margin-bottom: 30px;
  color: grey;
}
.styleguide-container .styleguide-police-400 {
  font-weight: 400;
}
.styleguide-container .styleguide-police-500 {
  font-weight: 500;
}
.styleguide-container .styleguide-police-700 {
  font-weight: 700;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
