{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie
{% endblock %}

{% block body %}

	{% if app.user %}
		<form action="http://127.0.0.1:8000/category/create" method="POST" enctype="multipart/form-data">
			<label for="name">Nom :</label>
			<input name="name" id="name" type="text" placeholder="Nom de la catégorie" required="true"/>

			<label for="description">Description :</label>
			<input name="description" id="description" type="text" placeholder="Description..." required="true"/>

			<button type="submit">Valider</button>
		</form>
	{% else %}
		Veuillez vous connecter pour pouvoir ajouter une nouvelle catégorie :
		<a href="{{ path('app_login') }}">Connexion</a>
	{% endif %}

{% endblock %}
