{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie
{% endblock %}

{% block body %}

	{% if app.user %}
		<form action="http://127.0.0.1:8000/category/create" method="POST" enctype="multipart/form-data">
			{{ form_start(registrationForm) }}
			{{ form_widget(registrationForm) }}
			<button type="submit" class="btn">Valider</button>
			{{ form_end(registrationForm) }}
		</form>
	{% else %}
		Veuillez vous connecter pour pouvoir ajouter une nouvelle catégorie :
		<a href="{{ path('app_login') }}">Connexion</a>
	{% endif %}

{% endblock %}
