{% extends 'base.html.twig' %}

{% block title %}
	{{category.name}}
{% endblock %}

{% block body %}

  {% if succesMessage %}
    <div>{{succesMessage}}</div>
  {% endif %}

	<h1 class="text-4xl">{{category.name}}</h1>
	<p>{{category.description}}</p>

{% endblock %}
