.categories {
  h2 {
    text-align: center;
  }
  
  .category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    li {
      padding: 10px;
      border-bottom: 2px solid $blue;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 800px;
  
      a:first-child {
        margin-right: 15px;
      }
  
      a:nth-child(2) {
        margin-right: 10px;
        margin-left: auto;
      }
    }
  }
}