.header-image {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center 20%;
  position: relative;

  @include breakpoint(md) {
    height: calc(100vh - 120px);
  }

  h1 {
    text-align: center;
    background-color: #000000de;
    color: $white;
    max-width: 80%;
    padding: 20px 30px;
    box-shadow: 0 0 5px $black;
  }

  .trick-icons-container {
    position: absolute;
    padding: 20px;
    background-color: #0000006e;
    top: 15px;
    right: 15px;
    display: flex;

    .icon-container {
      color: $light;
    }

    .trick-icon-update {
      margin-right: 15px;
    }
  }
}

.medias-container {
    display: none;
    padding: 0 60px;
    animation: opacity 0.3s ease-in-out;

    @include breakpoint(md) {
      display: block;
    }

  .trick-medias-list {
    @include breakpoint(md) {
      display: flex;
      overflow-x: hidden;
      position: relative;
      padding: 0;
      animation: none;
    }
    
    li {
      padding: 10px;
      background-color: #f5f5f5;
      list-style-type: none;
      margin: 30px auto;
      max-width: 350px;
      border-radius: 5px;
      box-shadow: 0 0 5px #0000003b;
  
      @include breakpoint(md) {
        width: 300px;
        min-width: 300px;
        margin: 30px 15px;
      }
      
      .trick-img-container {
        height: 200px;
        background-position: center;
        background-size: cover;
        margin: auto;
        
        @include breakpoint(md) {
          width: 100%;
          max-width: 350px;
        }
      }

      .delete-media {
        display: inline-block;
        margin-top: 5px;
      }
    }
  }
}

.arrows-container {
  position: relative;

  .slider-arrow {
    display: none;
    
    @include breakpoint(md) {
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: center;
      width: 50px;
      top: 30px;
      height: 220px;
      display: flex;
      align-items: center;
      background-color: #00000038;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #0000008a;
        color: $white;
        cursor: pointer;
      }
    }

    i.fas {
      font-size: 40px;
    }
  }
  
  #left-arrow {
    left: 0;
  }
  
  #right-arrow {
    right: 0;
  }
}

.description-container {
  max-width: 1280px;
  padding: 30px;
  text-align: justify;
  margin: auto;
}

.infos-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: auto;
  max-width: 800px;

  @include breakpoint(md) {
    justify-content: center;
  }

  .tag {
    margin-bottom: 10px;
    margin-right: 10px;
    width: fit-content;
  }
}

.base-container.comments-container {
  max-width: 800px;
  padding: 10px;

  @include breakpoint(md) {
    padding: 30px;
  }

  .message-container {
    display: flex;
    align-items: center;

    img.avatar {
      width: 40px;
      height: 40px;
      min-width: 40px;
      margin-right: 5px;
      border-radius: 100%;
      box-shadow: 0 0 5px #0000004d;
      margin-bottom: 30px;

      @include breakpoint(md) {
        min-width: 50px;
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
    }

    li {
      list-style-type: none;
      background-color: $light;
      margin-bottom: 30px;
      padding: 10px;
      box-shadow: 0 0 5px #0000004d;
      animation: opacity 0.3s;
      width: 100%;
      border-radius: 10px;
  
      .infos-message {
        display: flex;
        justify-content: space-between;
  
        div {
          display: flex;

          .icon-container:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .message-container:nth-child(odd) > li{
    background-color: $white;
  }
}

.see-medias-btn {
  margin: 30px auto 0;
  display: block;
  position: relative;

  @include breakpoint(md) {
    display: none;
  }

  .fa-chevron-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;

    &.open {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.show-more-btn {
  margin: 0 auto 30px;
  display: block;
}

.show-more-messages-btn {
  margin: 0 auto 30px;
  display: block;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opacity 0.3s;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 10px #000000c7;

  @include breakpoint(md) {
    width: auto;
    min-width: 600px;
  }

  .modal-btn-container {
    margin-top: 20px;
  }

  .close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: #00000061;
  left: 0;
  top: 0;
  animation: opacity 0.3s;
}

body.trick {
  .form-subcontainer {
    box-shadow: none;
  }
}