// Notifications
.succes-message {
  background-color: $green;
  color: $white;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 15px 0;
}

.error-message {
  background-color: $red;
  color: $white;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 15px 0;
}

.info-message {
  background-color: $grey;
  color: $white;
  padding: 8px 15px;
  border-radius: 50px;
  margin: 15px 0;
}