{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 403</h1>

    <p>
        Accès non autorisé,<a href="{{ path('homepage') }}"> pour retourner vers la page d'accueil</a>.
    </p>
{% endblock %}
