{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404</h1>

    <p>
        Page introuvable, <a href="{{ path('homepage') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}
