{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 500</h1>

    <p>
        Erreur de serveur interne, <a href="{{ path('homepage') }}">pour retourner vers la page d'accueil</a>.
    </p>
{% endblock %}
