{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick
{% endblock %}

{% block body %}

  {{ form_start(registrationForm) }}
  {{ form_widget(registrationForm) }}
  <!-- Virer les forms d'en bas ou d'en haut pour que ça marche -->
  <button type="submit" class="btn">Valider</button>
  {{ form_end(registrationForm) }}

{% endblock %}
