{% extends 'base.html.twig' %}

{% block title %}
	Liste des figures
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Liste des figures</h1>
		<ul>
			{% for trick in allTricks %}
				<li>
					<a href="#">{{trick.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
