{% extends 'base.html.twig' %}

{% block title %}
	Liste des figures
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Liste des figures</h1>
		<ul>
			{% for trick in tricks %}
				<li>
					<a href="showone{{trick.id}}">{{trick.name}}</a><a href="updatepage/{{trick.id}}">Modifier</a><a href="delete/{{trick.id}}">Supprimer</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
