{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="base-container">
      <div class="form-container">
        <div class="form-subcontainer">
          {{ form_start(updateTrickForm) }}
          {{ form_widget(updateTrickForm) }}
            <button type="submit">Valider</button>
          {{ form_end(updateTrickForm) }}
        </div>
      </div>
    </div>
	{% else %}
		<div class="base-container">
      Veuillez vous connecter pour pouvoir modifier le trick : <a class="primary" href="{{ path('login') }}">Connexion</a>
    </div>
	{% endif %}

{% endblock %}
