{% extends 'email/baseEmail.html.twig' %}

{% block title %}Modifier la catégorie
{% endblock %}

{% block body %}

	<div>
		Vous avez demandé de supprimer votre compte Snowtricks. Si vous souhaitez réellement supprimer votre compte,
		<a href={{ absolute_url(path('user_delete_validate', { 'token': token } )) }}>Cliquez ici.</a>
	</div>

{% endblock %}
